<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatisshop.repository.item.mybatis.ItemMapper">

    <select id="find" resultType="com.example.mybatisshop.domain.item.Item">
        select id as itemId, item_name as itemName, price as itemPrice
        from item
        where id = #{itemId}
    </select>
</mapper>
